body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    color: #413631;
    background: #fff;
    line-height: 1.5em;
}
.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.topbar {
    height: 45px;
    background: #3a2f29;
    color: #b6b5b5;
}
.btn-contact {
    display: inline-block;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
    background: #f26b35;
    padding: 0 15px;
    border-radius: 15px;
}
.topmenu {
    background: #f26522;
}
.topmenu .logo {
    width: 160px;
}
.topmenu .navbar .nav-item {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 3px solid #f26522;
}
.topmenu .navbar .nav-item a.nav-link {
    color: #fff;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

/* slide */
.custom1 .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.custom1 .owl-nav .owl-prev {
    font-size: 0px !important;
}
.custom1 .owl-nav .owl-prev:hover {
    background: none !important;
}
.custom1 .owl-nav .owl-prev:focus {
    outline: none !important;
}
.custom1 .owl-nav .owl-prev::after {
    font-family: "Font Awesome 5 Free";
    content: "\f053";
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
    font-weight:900;
    font-size: 40px;
    cursor: pointer;
    color: #514742;
}
.custom1 .owl-nav .owl-next {
    font-size: 0px !important;
}
.custom1 .owl-nav .owl-next:hover {
    background: none !important;
}
.custom1 .owl-nav .owl-next:focus {
    outline: none !important;
}
.custom1 .owl-nav .owl-prev::after {
    font-family: "Font Awesome 5 Free";
    content: "\f053";
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
    font-weight:900;
    font-size: 40px;
    cursor: pointer;
    color: #514742;
}
.custom1 .owl-nav .owl-prev:hover::after {
    color: #f26b35;
}
.custom1 .owl-nav .owl-next::after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
    font-weight:900;
    font-size: 40px;
    cursor: pointer;
    color: #514742;
}
.custom1 .owl-nav .owl-next:hover::after {
    color: #f26b35;
}

.custom1 .owl-dots {
    position: absolute;
    top: 95%;
    width: 100%;
}
.custom1 .owl-dots .owl-dot:focus {
    outline: none !important;
}
.custom1 .owl-dots .owl-dot span {
    background: #f0d2c8 !important;
}
.custom1 .owl-dots .owl-dot.active span {
    background: #f28c65 !important;
}

@media (max-width: 767px) {
    .custom1 .owl-nav .owl-prev::after {
        font-size: 24px;
    }
    .custom1 .owl-nav .owl-next::after {
        font-size: 24px;
    }
    .custom1 .owl-dots {
        top: 85%;
    }
}

/* content */
.hp-content {
    background-color: #fafafa;
}
.hp-content .content1 {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 900px;
    margin: 0 auto;
}
.hp-content .title {
    padding-bottom: 15px;
    padding-top: 10px;
}
.hp-content .title .txt {
    color: #413631;
    line-height: 1.2em;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.hp-content .title .line {
    border-bottom: 3px solid #413631;
    max-width: 50px;
    padding-top: 10px;
    margin: auto;
}
.hp-content .content1 .description {
    text-align: justify;
    text-align-last: center;
}
/*  */
.hp-content .content2 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.hp-content .content2 .description .icon {
    padding-bottom: 30px;
}
.hp-content .content2 .description .ttl {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.3em;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.hp-content .content2 .description .ttl::after {
    border-bottom: 3px solid #413631;
    display: inline-block;
    width: 50px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
}
.hp-content .content2 .description .txt {
    padding: 15px 0;
    text-align: justify;
}
.hp-content .content2 .description .rmore {
    color: #f26b35;
}
/*  */
.description3 {
    padding: 20px 0px;
}
.description3 a {
    color: #000;
}
.description3 a:hover {
    color: #f26b35;
    text-decoration: none;
}
/*  */
.our-project {
    position: relative;
}
.our-project .over {
    position: absolute;
    top: 0;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    background: #514742;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.our-project:hover .over {
    opacity: 1;
}
.our-project .over .thumb-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.our-project .over .thumb-text .thumb-title {
    font-size: 24px;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.our-project .over .thumb-text .thumb-title::after {
    border-bottom: 3px solid #fafafa;
    display: inline-block;
    width: 40px;
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
}

/* footer */
.footer .footer1 .content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.footer .footer1 .content .title {
    padding: 20px;
    font-size: 22px;
    line-height: 1.2em;
}
.footer .footer1 .content .btn-cont {
    display: inline-block;
    padding: 0px 25px;
    font-size: 16px;
    background: #f26b35;
    border: 1px solid #f26b35;
    color: #fff;
    height: 35px;
    line-height: 33px;
    border-radius: 18px;
}

