.container-fluid, .modal {
    font-size: 14px
}
  table img {
    max-width: 120px;
}
.title-video .depscription {
    color: #00000061;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.data-toggle td {
    display: none;
}
.translate-video {
    color: #0000008c;
    padding-left: 25px;
    padding-right: 25px;
}
.translate-video .title {
    margin-top: 25px;
    color: #000000;
}
.translate-video .txt-lang {
    margin-top: 15px;
    margin-bottom: 12px;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    color: #3b8462;
}
.translate-video .title-video:last-child {
    margin-bottom: 25px;
}
.translate-video .title-video label {
    color: unset;
    font-weight: normal;
    margin-bottom: 0.25rem;
}
.translate-video .title-video textarea {
    width: 100%;
    font-size: 12px;
    color: #0000008c;
    padding: 10px;
}
.number-translate, .show-title {
    cursor: pointer;
}
.caption {
    color: unset;
}
.add-video {
    font-size: 14px;
}
.from-request {
    background: #dc3545;
    padding: 7px 5px 4px 7px;
    font-size: 13px;
    display: inline-block;
    color: #fff;
}
.from-user {
    background: #17a2b8;
    padding: 7px 5px 4px 7px;
    font-size: 13px;
    display: inline-block;
    color: #fff;
}
.select2-selection__choice {
    font-size: 15px;
}
.select-lang {
    max-width: 350px;
}
@media (max-width: 575px) {
    .select-lang {
        max-width: 100%;
    }
}
input.select2-search__field::placeholder {
    font-size: 12px;
}
.font-select2 {
    font-size: 14px;
}
.lang-trans {
    padding: 5px 10px;
}
.lang-trans.expiration-lang {
    background: #ffc107;
}
.dropdown-lang {
    max-height: 300px;
    overflow-y: auto;
}
.control-balloon-selector ul {
    padding: 0;
    margin-top: -5px;
    margin-bottom: 0
}
.control-balloon-selector ul li.active {
    background: #da5700 !important;
}
.control-balloon-selector ul li.translated.active {
    background: #2dcc9f !important;
}
.control-balloon-selector ul li.completed.active {
    background: #5b656b!important;
}
.control-balloon-selector ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 6px;
    text-transform: uppercase;
    background: #bcc3c7;
    color: #fff;
    line-height: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding: 5px 7px;
    cursor: pointer;
    font-size: 9px;
}
.search-name {
    width: 100%;
    max-width: 300px;
}
.search-name label {
    width: 30px;
}
.user-search::placeholder {
    font-size: 12px;
    line-height: 50px;
}
.card-user .select2-container .select2-search--inline .select2-search__field {
    margin-top: 8px;
}
.btn-paid .btn-action {
    opacity: 0.5;
    cursor: no-drop;

}
.btn-paid .btn-action.active {
    opacity: 1;
    cursor: pointer;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}
#remove-time {
    cursor: pointer;
}
